* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: "Roboto", sans-serif;
  background-color: #45454560;
  color: #ffffff;
  line-height: 1.6;
}

.containerForm{
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.containerTable {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f19935bc;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input,
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
  width: 100%;
}
  
input:focus,
select:focus {
  border-color: #ff6600;
}

button {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button:hover {
  background-color: #d25400;
}
  
p {
  color: #d60000;
  margin: 0;
  font-size: 14px;
}

.tableInfo{
  margin-bottom: 12px;
  color: #fffdfc;
  font-size: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;

}

th, td {
  padding: 14px;
  text-align: center;
  border: 1px solid #a0a0a0;
  
}

th {
  background-color: #222;
  font-weight: 600;
  color: #e4e4e4;
}

td{
  color: #333333;
  font-weight: 600;
}

tbody tr:hover {
  background-color: #fff8f3;
}